.mainGameBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.info {
  text-align: center;
}

.info::before {
  content: attr(data-tool-tip);
  /* content: "hello World"; */
  display: block;
  position: absolute;
  background-color: var(--secondary-col-low-opacity);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 0.75rem;
  bottom: 100%;
  right: 100%;
  width: 20rem;
  transform: scale(0);
  transition: transform ease-out 150ms;
}

.info:hover {
  cursor: pointer;
}

.info:hover::before {
  transform: scale(1);
}

.searchInput {
  padding: 0.4rem;
  width: 25rem;
}

.search {
  color: inherit;
  border: none;
  border-radius: 2px;
  background-color: var(--btn-col);
  padding: 0.4rem 1rem;
  margin: 1rem;
}
